html{
  font-size: 62.5%; /*16px * 62.5 =10px = 1rem */
  box-sizing: border-box;
}
body{
   font: 1.6rem;
   height: 100vh;
   margin: 0;
}
#root{
   height: 100%;
}
.grid-container{
   display: grid;
   grid-template-areas: 
   "header"
   "main"
   "footer";
   grid-template-columns: 1fr;
   grid-template-rows: 4rem 1fr 4rem;
   height: 100%;
}
.header{
   grid-area: header;
   background-color: #203840;
   color: #ffffff;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 2.5rem;
   
}
.brand a{
   color: #ffffff;
   font-size: 2.5rem;
   font-weight: bold;
   text-decoration: none;

}

.header-links a{
  color: #ffffff;
  text-decoration: none;
  margin-top: 50%;
  justify-content: space-between;

}
.header-links a:hover{
   color:red
}
.main{
   grid-area: main;
}
.footer{
   grid-area: footer;
   background-color: #203840;
   color: #ffffff;
   font-size: 1.5rem;
   display: flex;
   justify-content: center;
   align-items: center;
   padding-bottom: 0%;
}
a{
  text-decoration: none;
}
a:hover{
  color: #ff8800;
}
/* Home screen*/
.products{
   width:300px;
   margin-left:100px;
   background-color: white;
   border: 1px solid lightblue;
   font-family: Georgia, 'Times New Roman', Times, serif;
   border: black solid 1px;
   font-weight: bold;
   color: black;
   margin-bottom:35px;
   margin-top: 30px;
   box-shadow: 0.5px 0.5px 3px;
   float: left;
   
   
}
.products li{
   list-style-type: none;
   padding: 0;
   flex: 0 1 34rem;
   margin: 1rem;
   height: 50rem;
   border-bottom: .1rem #c0c0c0 solid;
}
.product{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 100%;
}
.product-name{
   font: bold;
   font-size: 2rem;

}
.product-brand{
   font-size: 1.2rem;
   color: #808080;
}
.product-price{
   font-size: 2.5rem;
   font-weight: bold;
}
.product-image{
   max-width: 34rem;
   max-height: 34rem;

}
.product-rating{
  margin-bottom: 1rem;

}
/*side bar*/
.brand button{
   font-size: 3rem;
   padding: .5rem;
   background: none;
   border: none;
   color: #ffffff;
   cursor: pointer;
}
.sidebar{
   position: fixed;
   transition: all .5s;
   transform: translateX(-30rem);/* this is for the information hide in the left side of the display */
   width: 30rem;
   background-color: #f0f0f0;
   height: 100%;
}
.sidebar.open{
   transform: translateX(0);/*this is for display the hide information */
}
.sidebar-close-button{
   border-radius: 50%;
   border: .1rem #000000 solid;
   width: 3rem;
   height: 3rem;
   padding: .5rem;
   font-size: 2rem;
   padding-top: 0;
   cursor: pointer;
   position: absolute;
   right: .5rem;
   top: 1.5rem;
}

/* Product Details */
.details {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   flex-wrap: wrap;
   padding: 1rem;
 }
 .details-image {
   flex: 2 1 60rem;
   width: 70%;
   
 }
 .details-image img {
   max-width: 70%;
   width: 70%;
   
 }
 .details-info {
   flex: 1 1 30rem;
 }
 .details-action {
   flex: 1 1 30rem;
 }
 
 .details-info ul, .details-action ul {
   list-style-type: none;
   padding: 0;
 }
 .details-info li, .details-action li {
   margin-bottom: 1rem;
 }
 .back-to-result {
   padding: 1rem;
 }
 .details-action {
   border: 0.1rem #808080 solid;
   border-radius: 0.5rem;
   background-color: #f8f8f8;
   padding: 1rem;
 }
 .details-action ul li:last-child {
   display: flex;
   flex-direction: column;
 }
 .button {
   padding: 1rem;
   border: 0.1rem #808080 solid;
   border-radius: 0.5rem;
   cursor: pointer;
   background-color: #f0c040;
   width: 100%;
 }
 .button:hover {
   border: 0.1rem #404040 solid;
 }
 .button.primary {
   background-color: #f0c040;
 }
 .button.secondary {
   background-color: #f0f0f0;
 }